* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background: linear-gradient(135deg,#6a11cb,#2575fc);
  /* font-family: 'Segoe UI', sans-serif; */
  /* min-height:100vh; */
  /* display:flex; */
  /* justify-content:center; */
  /* align-items:flex-start; */
}
.container{
  background:white;

  padding:30px;
  border-radius:15px;
  width:50%;
 
  margin: 100px auto;
  box-shadow:0 10px 30px rgba(0,0,0,0.15);
}
form {
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
}

.search-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  border: 2px solid black;
  border-radius: 20px;
  padding: 5px;
}

input {
  border: none;
  outline: none;
  width: 100%;
  padding: 10px;
  margin: 5px 10px;
  flex: 1;
  min-width: 150px;
}

button {
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
}

.save-btn {
  border: none;
  border-radius: 20px;
  min-width: 80px;
  height: 46px;
  background-color: blue;
  color: white;
}

.delete-btn {
  width: auto;
  background-color: red;
  color: white;
}

.edit-btn {
  width: auto;
  background-color: green;
  color: white;
}

.btn-position {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.task-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 800px;
  margin: 20px auto;
  padding: 10px;
  background-color: gainsboro;
  border-radius: 10px;
}

/* -------- Tablet -------- */

@media (max-width: 768px) {
  .task-list {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .btn-position {
    width: 100%;
    justify-content: flex-end;
  }

  .save-btn {
    width: auto;
  }
}

/* -------- Mobile -------- */

@media (max-width: 480px) {
  form {
    width: 95%;
  }

  .search-box {
    flex-direction: column;
    align-items: stretch;
  }

  input {
    width: 100%;
    margin: 5px 0;
  }

  .save-btn {
    width: 100%;
  }

  .btn-position {
    justify-content: space-between;
    width: 100%;
  }

  button {
    flex: 1;
  }
}